<html>

<head>
    <title>Privacy</title>
</head>

<body>

    <script>


        const privateKey=`
        -----BEGIN RSA PRIVATE KEY-----
MIIJKgIBAAKCAgEA2Auebg+Ro/KYALjushpaHbcFcWaJBH3MlCVY5sYVQCuaRqDQ
f6BYMtAPGd9nhTwYzv1p9FUmPGnlnJC9jdEmQAc167L0busLo8KuTOn1LyDLH74C
O6zTNZXL6Jvly7U/J30LWy5sO3MSnDMdWyjnt3ODJfaaty1+CgET6Rg2EF6UdN0H
J9sEEia0zNUW6OCSj86CJruqp1LQ4BxxVNpRNhdppys2NSmt5EkfSfLYEWRjZj52
Y9wXh0TkSuvHvQJZTS7Mp9hu2MuNvx8XAZtFqwVX45mJePkKQl3nvri0mRMCzchh
H68er84eQWycBRhhMDg95fIyOP98xsAXv01WXvTTM157hL14VSdwMxZpBKObhk6F
6uqYwliQJL0otuxiBzooQEyX2/aRKmFW+0i8z6b4ZcYbI4sISoeoLWm5uOktfDtA
CU7dE21ZoygZCC6zVf7YmobfwwLArrE1FY8Qo85k/Of2qyWqFGjqRVGh//S/VPWi
veaFFtoqrAxRHxIEAyTPZNT5zrfkEk4gOSX40f9qhHfWa6n7vyRFh446ncaMNpHl
Vit7Npcb5O4HA9IK7qZ0e4uoX/WWEuktdsjLojhXGlYHbn5cE4eAU24+GG7kNRdr
psVVHPAgGlPqVIfXcMaDVf3Ao3/+OmU/hUksn2v+2MmJYJyqhZkdoQDkN3cCAwEA
AQKCAgEAsM6Bb80qAaRNpXmzTuqmCV95At9JDvXs8OjHosVFKukELvz45RnSVHNV
iHT+gVk3bF6T0bPFwPdhRApoNqGNziSYijZAOG3/bpuqjaOCVnleArI7nZ7Ikzfu
UoUTQO0prCV3n72UMerwtghW4/3L9KSCFhWFdJe0aHeNVdvMkwT0NdeVPZbN9BTd
LizNvPPcvffhJ9W5yYnLCz37udeZUs1CV97TVBqyBvuYsaoeDc28UzaXKQ476yYE
NxRSuGotry63qj1EKgQcEudcqqHqGBYdYVSL3wbg0IONXtZGZmfaiZKNeaKVWIc0
15IM9VaIYzAD6CWX2HGuKfGW/aZLIZWliSnKKRoj8GeyUvQ4iFum1zDDzln8U0P6
VZ3BoZeHTufFAKx+5nPXZeG1k0K/sLuy32Z399ACPueXNo4R5DqTqVjsKPU/xl3D
rl2pgMOrrYA6kuPALy3/2J86/JQ0ifHQz8+JrQ78jX7zcrEzKzP+GnUpz2IKBir3
Cs73iMd6E6mTAFEY5eTXKjEjTGYxyV5ckjrbryvvAY37pXAzVScRMDlt4DjvmG6g
SWvQDFLuBAmsufHyp48uggkP09BAP2zi3MeByCOscs0rYIiJkXJrtLlVFwPrCL0Y
pKwH/IteppWuI4qwznxIB7Otq/jwrjQVVgAOH6cUEc1w75jyDVECggEBAPX5iDEU
WtKDHg+eqeFesCYa5gtHAdijiLwAsi2ehzzz7YLRmIGO21UTt0BJcA6yeyBBVhXx
0X8zXlIxQ4DWGigtT3zjiEwx0bdBovUtwWgIdBGPxEz/m0I9YiiY+Ho7EEOjOaD0
Y1siZd7wQCTxLfXO9sOiC4bacPP1j1zkI+Dhl48XVnjehVjF27NfbLGw3vdNova2
z+DjmuDMpl5Txh9f/nXUtX2u71XYGOXBt65WcJXnJ5X/XpaFv6c0w+yI80l8xbzs
tOfbEYeLCGI52Z96AH/+lGxNJtf9UpRVPQW0lJcjLGMyZpzrkQ8CkNgGIEhXT/at
SvrySn7FrnAGnIsCggEBAODZzthZhwyG3kbvWupG751mavCIaSSKhXlAPDa+qi0m
Jheo8QFTi0kcuDWliJcmN5DnGhstWP72lAMvJ4PBNtncBhQqL8QDjRmGzX4iUVaL
pE6Fhq+L2Tb1ACZEU+skCSPHUgn0N0+umWpnJPNiuJaBytgMOdgkaw1GM2e2kH1K
MZpdYxAG+iYmoMt4P/coiPG6MIo7HtjOdQUBeo6MZ6oyfpEq4Z4iL/1lx/v3265G
nHrzPq2OE/LxgRwtxXJJut6wlitF2zZQVF26v3GngRbkJJZPXzCS+q90krTgwv1Q
fbbmO5qXlmV4pylnFXWWE5acnPz1MT47DC0bmeRW0kUCggEAV1KI2POi8oz9xQnM
wWd+HWj7NhG1RBV6W1Pb7XoUBL2MGh8ShxwSHXfsXHQ1xeHy+BZ52zyH5SJ1X7SB
hGF907mSOIIGRxaAnxA8K9JckPQ/UGS7iaJMmg10pXj47Vu+gGSX9t4Lz7S8eZLN
EtBUQqmAzR7f/LXb15/bj1ymqBUuWuwsFKjaqhND1cAQtFxYK29yZSetUOc8eoXs
ohwXf9fyXB5xd/b8nHslC5vj+45QVcdENGn+SG2fBlsjGvvbcsFK6bEW4CDTbk0b
YtOqwITtXIMiafhRy+fwwxwnl7jt72HbRjQEXbz7OFru1OIH3+avSqFmtwQBElRX
gwm11QKCAQEApD9WsoGLfiISwpxbvCD/Leo/md77dx7c6zp6Ab97Tim8z7GwAzkE
2O5qvX1i7o6TLn0ye8G/bdevPTg31C3SpIftxNMgOz4g1xG6kDX/VooBBv7Q6PDu
Rg/oAQwOhQi4yHL0QaMsuD8hgDFCM6vcjMzY4MLlijboIDU0ncElgPAulcU79Nwz
5KR49siraR8qEfHhPUh8ewEtR+/Rl8mGfDQQcnhxgPMWPTMZR7zBs2ePLNz83wiX
F/NETdI9lgO3xq4VtBx+SgmZ5zHgYORsDs2u0EHAlhn3ly0/cXNx3FrsyisaRQ4Q
ZaUh7sOHUHLFclKK9tkhFIVLmrO70al+RQKCAQEA9RfeujxHzbgPQzqHt8Vj2LWX
rKY5gYNOx3OY7B+G5t6MSLyiFRGwBqJQSOVcO0SEczuTQM02iBC9Q65+nI+oCZIy
fZ/HJfC0OibMtw3xhIYtph2uw8N7AfvgfVODrvo47evgnCIGxB2BZSMvFiv3I/jc
RZfAxzwOYUQGfBmAfhybxSCvba55rxJkB73WYKixEWYLkimP6Ihd8wUBmV9leUZJ
7DfLGDhYSTCMpzuUdQQaYM906Tqi35nDxeDM3fhFA9LzeeXBBmf9DFrpX6aVwqFg
DRZ0bBdS68UsxJ5tYRMLdDzFxkRmvHA7wX+LFXZCoV5GQlMJP1KIT7DFpY2aXQ==
-----END RSA PRIVATE KEY-----
        
        
        `;



const publicKey=`

-----BEGIN CERTIFICATE-----
MIIFDTCCAvWgAwIBAgIUAfqbwqL3kVkTRpP0l7iKl1TsZekwDQYJKoZIhvcNAQEL
BQAwFjEUMBIGA1UEAwwLY2EuY29tcGYubWUwHhcNMjMwMzI0MTc1OTU0WhcNMzMw
MzIxMTc1OTU0WjAWMRQwEgYDVQQDDAtjYS5jb21wZi5tZTCCAiIwDQYJKoZIhvcN
AQEBBQADggIPADCCAgoCggIBANgLnm4PkaPymAC47rIaWh23BXFmiQR9zJQlWObG
FUArmkag0H+gWDLQDxnfZ4U8GM79afRVJjxp5ZyQvY3RJkAHNeuy9G7rC6PCrkzp
9S8gyx++Ajus0zWVy+ib5cu1Pyd9C1subDtzEpwzHVso57dzgyX2mrctfgoBE+kY
NhBelHTdByfbBBImtMzVFujgko/Ogia7qqdS0OAccVTaUTYXaacrNjUpreRJH0ny
2BFkY2Y+dmPcF4dE5Errx70CWU0uzKfYbtjLjb8fFwGbRasFV+OZiXj5CkJd5764
tJkTAs3IYR+vHq/OHkFsnAUYYTA4PeXyMjj/fMbAF79NVl700zNee4S9eFUncDMW
aQSjm4ZOherqmMJYkCS9KLbsYgc6KEBMl9v2kSphVvtIvM+m+GXGGyOLCEqHqC1p
ubjpLXw7QAlO3RNtWaMoGQgus1X+2JqG38MCwK6xNRWPEKPOZPzn9qslqhRo6kVR
of/0v1T1or3mhRbaKqwMUR8SBAMkz2TU+c635BJOIDkl+NH/aoR31mup+78kRYeO
Op3GjDaR5VYrezaXG+TuBwPSCu6mdHuLqF/1lhLpLXbIy6I4VxpWB25+XBOHgFNu
Phhu5DUXa6bFVRzwIBpT6lSH13DGg1X9wKN//jplP4VJLJ9r/tjJiWCcqoWZHaEA
5Dd3AgMBAAGjUzBRMB0GA1UdDgQWBBSwVXu6KsGxrbl/Sr3+Yd0VaFsjWjAfBgNV
HSMEGDAWgBSwVXu6KsGxrbl/Sr3+Yd0VaFsjWjAPBgNVHRMBAf8EBTADAQH/MA0G
CSqGSIb3DQEBCwUAA4ICAQDVBlHh21DPHEvvNejF3oAGH9oainr8JRG03ubLkAhK
rWAzC1dSBhXvDObPTmWlrR80KphMqK/+Lmwb/Qtq/9yKodFmdklE4UVQkKh+atJV
fN9EouBXvoZtMc9bFZy/bXFjGFiv/3ZcrOzmpT9VJtx6t7O69i5Hx7KQnh6H41/k
JJ5cM3vkxw06FCvhV0ruV6FQzkdORh+VOdrz2RfXKnQZL1Zj1R6DaHokF86yWmLm
g4UAMDHM9IhH6fR7Lda5lQRG53j0uVYVOTWG1AC8RVSCfXcHe+I/CdEwMgjQ6pG1
xzypOEGyNaz4OCMPOA1gQcSM4UBFAeKndHZaBxLT/AlHCAin9mlH/bZbIQIfm5U6
in8RZEQ2O/hMKE+1AGWpQPw33+ntE+d4XzP9Whqv4sHW2seVGW50cpsGLu7wZFrz
3DenAYWP9db7rkpFJ6q/HzGzhiNCl+ASDZfPTafQgJ3fK6CHL1gt53GSAoownXPq
syq6EyZ8J3CxyqRayo0O+N65HupZ9kcjAQ47GKu+jgvRE8pDQpdS2b2UteLsCiOY
hHUgAERQvFZgNtnK+vJTuZOz76o2OAzJBsaWQD4qWi3VZgg5ihNN1wah/UoUQm8j
rd51T3uA/lxx+aujuUFaOLB77/cL7ljg7By2eusYwrS9+EKXaa+tnx1IVZoiOcDj
fg==
-----END CERTIFICATE-----





`;



        let text = "Hello, world!";

        async function main() {
            let aesKey = await window.crypto.subtle.generateKey({
                name: "AES-GCM",
                length: 256
            }, true, ["encrypt", "decrypt"]);


            let rsaKey = awa





            let encrypted = await window.crypto.subtle.encrypt({
                name: "AES-GCM",
                iv: window.crypto.getRandomValues(new Uint8Array(12))
            }, aesKey, new TextEncoder().encode(text));


            let encryptedKeyRsa=await window.crypto.subtle.encrypt({
                name: "RSA-OAEP"
            }, rsaKey.publicKey, new TextEncoder().encode(aesKey));

            console.log(encryptedKeyRsa,encrypted)

            return [encryptedKeyRsa,encrypted]
        }

      main();
    </script>
</body>


</html>